@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
.position-relative {
  position: relative;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 2px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
    margin: 0 2px;
  }
}

@media (min-width: 1023px) {
  .container {
    padding: 0 150px;
    margin: 0 2px;
  }
}

.section {
  padding-bottom: 2rem;
}

@media (min-width: 1023px) {
  .section {
    padding-bottom: 36px;
  }
}

.placeholder-upper {
  position: absolute;
  position: absolute;
  top: -13px;
  background: #fff;
  padding: 2px;
  display: none;
  font-size: 12px;
  left: 11.5px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

label {
  display: block;
  color: #828282;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.arrows-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 11.5px;
}

.arrow, .arrow-up, .arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.arrow:hover, .arrow-up:hover, .arrow-down:hover {
  cursor: pointer;
  opacity: 0.7;
}

.arrow-up {
  border-bottom: 4px solid rgba(79, 79, 79, 0.5);
}

.arrow-down {
  border-top: 4px solid rgba(79, 79, 79, 0.5);
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  color: #4F4F4F;
}

p {
  margin-bottom: 0;
  font-size: 12px;
}

@media (min-width: 640px) {
  p {
    font-size: 14px;
  }
}

.add-button {
  background: #00447C;
  color: #fff;
  border: 1px solid #00447C;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 24px;
  border-radius: 3px;
}

.add-button:hover {
  cursor: pointer;
  background: #fff;
  color: #00447C;
}

.first-error {
  position: relative;
}

.first-error input,
.first-error button {
  border: 1px solid #FF4003;
}

.first-error::after {
  position: absolute;
  content: "Błąd";
  color: #FF4003;
  left: 0;
  bottom: 2px;
  font-size: 12px;
  font-weight: 600;
}

.section_first {
  padding-top: 3rem;
}

.section_first__inputs_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #A1A1A1;
  padding-bottom: 3rem;
  width: 276px;
}

.section_first__inputs_box .company-name-box {
  position: relative;
}

.section_first__my_input {
  margin-bottom: 20px;
  border-radius: 3px;
  width: 276px;
  height: 30px;
  border: 1px solid #E1E1E1;
  background: #fff;
  padding-left: 11.5px;
  padding-right: 11.5px;
  color: #333333;
}

.section_first__my_input:active, .section_first__my_input:focus {
  outline: none !important;
  border: 1px solid #00447C;
}

.section_first__my_input::-webkit-input-placeholder {
  font-size: 14px;
  color: #939393;
}

.section_first__my_input:-ms-input-placeholder {
  font-size: 14px;
  color: #939393;
}

.section_first__my_input::-ms-input-placeholder {
  font-size: 14px;
  color: #939393;
}

.section_first__my_input::placeholder {
  font-size: 14px;
  color: #939393;
}

.section_first__dropdown {
  /* Dropdown Button */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
}

.section_first__dropdown .dropbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-size: 14px;
  margin-bottom: 8px;
  color: #333333;
  cursor: pointer;
  background-image: url("../img/pngaaa.com-598974.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 255px;
}

.section_first__dropdown .dropdown {
  position: relative;
  display: inline-block;
}

.section_first__dropdown .dropdown-content {
  border-radius: 3px;
  display: none;
  position: absolute;
  background: #fff;
  width: 276px;
  border: 1px solid #D6E2F5;
  z-index: 1;
}

.section_first__dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_first__dropdown .dropdown-content a img {
  padding-right: 13px;
}

.section_first__dropdown .dropdown-content a:hover {
  background-color: #F4F7FB;
}

.section_first__dropdown .show {
  display: block;
}

.section_first__search_box {
  padding: 7px 8px;
  /* The search field */
  border-bottom: 1px solid #D6E2F5;
  /* The search field when it gets focus/clicked on */
}

.section_first__search_box #myInput {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F2F4F8;
  border-radius: 3px;
  height: 30px;
  background-image: url("../img/Vector.svg");
  background-position: center right;
  background-position-x: 235px;
  background-repeat: no-repeat;
  font-size: 14px;
  color: #939393;
  padding: 14px 20px 12px 7px;
  border: none;
  width: 100%;
}

.section_first__search_box #myInput:focus {
  outline: 3px solid #ddd;
}

.blue-class {
  color: #00447C !important;
  background-image: url("../img/Path.svg");
  background-position: center;
  background-position-x: 230px;
}

.drop-button-box {
  position: relative;
}

.drop-button-box.first-error {
  padding-bottom: 10px;
}

.task__title {
  padding-left: 11.5px;
  font-size: 14px;
  font-weight: 400;
  color: #4A4A4A;
  margin-bottom: 14px;
}

.task #lolz-box,
.task #price-box {
  position: relative;
}

.task__inputs_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 44px;
  width: 276px;
}

.task__euro_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 11.5px;
}

.task__euro_button p {
  margin-top: 0;
  color: #4A4A4A;
  margin-right: 41px;
}

.task__table {
  width: 100%;
  border: 1px solid #D6E2F5;
  border-radius: 3px;
  margin-bottom: 25px;
}

.task__table th {
  text-align: left;
}

.task__table td,
.task__table th {
  padding: 15px 19px;
  border-bottom: 1px solid #D6E2F5;
  font-size: 14px;
}

.task__table tr:last-child td {
  border: none;
}

.task__table .remove {
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.task__table .remove:hover {
  opacity: 0.7;
  cursor: pointer;
}

.task__table .remove::before {
  content: url("../img/Union.svg");
  position: absolute;
  left: -5px;
}
/*# sourceMappingURL=style.css.map */