///general

// variables
$blue: #D6E2F5;
$medium: 640px;
$large: 1023px;

.position-relative {
    position: relative;
}

@mixin medium {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large}) {
        @content;
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 2px;

    @include medium {
        padding: 0 30px;
        margin: 0 2px;
    }

    @include large {
        padding: 0 150px;
        margin: 0 2px;
    }
}

.section {

    padding-bottom: 2rem;

    @include large {
        padding-bottom: 36px;
    }
}


.placeholder-upper {
    position: absolute;
    position: absolute;
    top: -13px;
    background: #fff;
    padding: 2px;
    display: none;
    font-size: 12px;
    left: 11.5px;
}


.flex {
    display: flex;
}

label {
    display: block;
    color: #828282;
}

// removing blue background which showed sometimes
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.arrows-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 11.5px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: .3s ease-in-out;


    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.arrow-up {
    @extend .arrow;
    border-bottom: 4px solid rgba(79, 79, 79, 0.5);
}

.arrow-down {
    @extend .arrow;
    border-top: 4px solid rgba(79, 79, 79, 0.5);
}




////typhograpgy

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    background-repeat: no-repeat;
    color: #4F4F4F;
}

p {
    margin-bottom: 0;
    font-size: 12px;

    @include medium {
        font-size: 14px;
    }
}



.add-button {
    background: #00447C;
    color: #fff;
    border: 1px solid #00447C;
    transition: .3s ease-in-out;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 24px;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        background: #fff;
        color: #00447C;
    }
}

.first-error {
    position: relative;

    input,
    button {
        border: 1px solid #FF4003;


    }

    &::after {
        position: absolute;
        content: "Błąd";
        color: #FF4003;
        left: 0;
        bottom: 2px;
        font-size: 12px;
        font-weight: 600;
    }
}



//////////////section-first

.section_first {

    padding-top: 3rem;

    &__inputs_box {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #A1A1A1;
        padding-bottom: 3rem;
        width: 276px;
        .company-name-box {
            position: relative;
        }

    }

    &__my_input {
        margin-bottom: 20px;
        border-radius: 3px;
        width: 276px;
        height: 30px;
        border: 1px solid #E1E1E1;
        background: #fff;
        padding-left: 11.5px;
        padding-right: 11.5px;
        color: #333333;

        &:active, &:focus {
            outline: none !important;
            border: 1px solid #00447C;
        }

        &::placeholder {
            font-size: 14px;
            color: #939393;

        }
    }

    &__dropdown {

        /* Dropdown Button */
        .dropbtn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-size: 14px;
            margin-bottom: 8px;
            color: #333333;
            cursor: pointer;
            background-image: url("../img/pngaaa.com-598974.png");
            background-size: 13px;
            background-repeat: no-repeat;
            background-position-y: center;
            background-position-x: 255px;
        }
        
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            border-radius: 3px;
            display: none;
            position: absolute;
            background: #fff;
            width: 276px;
            border: 1px solid #D6E2F5;
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: flex;
            align-items: center;

            img {
                padding-right: 13px;
            }
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #F4F7FB
        }

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {
            display: block;
        }
    }

    &__search_box {
        padding: 7px 8px;
        /* The search field */
        border-bottom: 1px solid #D6E2F5;
        ;

        #myInput {
            box-sizing: border-box;
            background: #F2F4F8;
            border-radius: 3px;
            height: 30px;
            background-image: url('../img/Vector.svg');
            background-position: center right;
            background-position-x: 235px;
            background-repeat: no-repeat;
            font-size: 14px;
            color: #939393;
            padding: 14px 20px 12px 7px;
            border: none;
            width: 100%;

            // border-bottom: 1px solid #ddd;
        }

        /* The search field when it gets focus/clicked on */
        #myInput:focus {
            outline: 3px solid #ddd;
        }
    }

}

/////////styles added to people in list

.blue-class {
    color: #00447C !important;
    background-image: url("../img/Path.svg");
    background-position: center;
    background-position-x: 230px;
}


.drop-button-box {
    position: relative;
}

.drop-button-box.first-error {
    padding-bottom: 10px;
}



/////////////////////////////task

.task {
    &__title {
        padding-left: 11.5px;
        font-size: 14px;
        font-weight: 400;
        color: #4A4A4A;
        margin-bottom: 14px;
    }

    #lolz-box,
    #price-box {
        position: relative;
    }

    &__inputs_box {
        display: flex;
        flex-direction: column;
        margin-bottom: 44px;
        width: 276px;

    }

    &__euro_button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 11.5px;

        p {
            margin-top: 0;
            color: #4A4A4A;
            margin-right: 41px;
        }
    }

    &__table {
        width: 100%;
        border: 1px solid $blue;
        border-radius: 3px;
        margin-bottom: 25px;

        th {
            text-align: left;
        }

        td,
        th {
            padding: 15px 19px;
            border-bottom: 1px solid $blue;
            font-size: 14px;


        }

        tr {
            &:last-child {
                td {
                    border: none;
                }
            }
        }

        .remove {
            position: relative;
            transition: .3s ease-in-out;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }

            &::before {
                content: url("../img/Union.svg");
                position: absolute;
                left: -5px;
            }
        }

    }
}



